body{
    font-family: arial, sans-serif;
font-size: 1.6rem;
line-height: 1.6;
}
nav{
    text-align: right;
    padding: 15px;
    padding-right:30px;
}
ul{
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:flex-end
}
a{
   text-decoration: none;
   color: #5f6368;
   font-size: 14px;
}

.nav-item{
    margin-right:15px;
}
.flexbox{
    display: flex;
    align-items: center;
}
.container{
    flex-direction: column;
    justify-content: flex-start;
    height: 85hv;
}